<div class="search-form">
    Search: <input #searchTerm type="text" (keyup.enter)="search(searchTerm.value);" name="searchTerm"/>
    <button (click)="search(searchTerm.value);">Search</button>
 </div>


<div class="row">
    <div class = "column" *ngIf="recipes">
        <h2 >Recipes:</h2>
          <ul>
            <li *ngFor = 'let recipe of recipes' (click)="instructionAndIngredientFunction(recipe);">{{recipe['name']}}</li>
         </ul> 
    </div>
    <div class = "column" *ngIf="display">
         <h2>Recipe Instructions:</h2>
         <ol>
           <li *ngFor = "let instruction of instructions">{{instruction['display_text']}}</li>
         </ol>
    </div>
    <div class = "column" *ngIf="display">
      <h2>Ingredients:</h2>
      <ul>
        <li *ngFor = "let ingredient of ingredients">{{ingredient['raw_text']}}</li>
      </ul>
 </div>
  </div>