<div class="search-form">
    Search: <input [(ngModel)]="recipeSearchTerm" type="text" (keyup.enter)="onSubmit()" name="searchRecipe" id="searchRecipe" type="text">
    <button (click)="onSubmit()">Search</button>
 </div>


<div class="row">
    <div class = "column" *ngIf="recipes">
        <h2 >Recipes:</h2>
          <ul>
            <li *ngFor = 'let recipe of recipes' (click)="instructionAndIngredientFunction(recipe);">{{recipe['name']}}</li>
         </ul> 
    </div>
    <div class = "column" *ngIf="display">
         <h2>Recipe Instructions:</h2>
         <ol>
           <li *ngFor = "let instruction of instructions">{{instruction['display_text']}}</li>
         </ol>
    </div>
    <div class = "column" *ngIf="display">
      <h2>Ingredients:</h2>
      <ul>
        <li *ngFor = "let component of components">{{component['raw_text']}}</li>
      </ul>
 </div>
  </div>
