$primary-color: #fff;
$border-radius: 5px;
$body-color: #749D56;
$black-color: #454321;
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.main-container{
    background-color: $body-color;
}
.container {
 background-color: $primary-color;
 position: relative;
 display: grid;
 grid-template-columns: 400px 600px;
 border-radius: $border-radius;
 box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);
 margin: auto;
 margin-top: 10px;
 padding-bottom: 50px;
 ;


 img {
  width: 400px;
  height: 400px;
  border-radius: $border-radius 0 0 $border-radius;
  padding: 5px;
 }
 .btn {
  position: absolute;
  bottom: -20px;
  right: -20px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  background-color: #fc9400;
  color: $primary-color;
  padding: 22px 45px;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: $border-radius;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.294);
 }
 svg{
     padding-right: 5px;
 }
}

.container__text {
 padding: 40px 40px 0;
 h1 {
  color: $black-color;
  font-weight: 400;
 }
 .container__text__star span {
  font-size: 0.8rem;
  color: #B55834;
  margin: -5px 0 20px;
 }

 p {
  font-size: 0.9rem;
 }

 .container__text__timing {
  display: flex;
  margin: 20px 0 10px;
  .container__text__timing_time {
   margin-right: 40px;
  }
  h2 {
   margin-bottom: 5px;
   font-size: 1rem;
   font-weight: 400;
   color: #818189;
  }
  p {
   color: $black-color;
   font-weight: bold;
   font-size: 1.2rem;
  }
 }
}
