
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Angular Recipe Generator App</a>

  <div class="dropdown">
    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
      Menu
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" routerLink="login" href="#">Login</a>
      <a class="dropdown-item" routerLink="signup" href="#">Sign Up</a>
      <a class="dropdown-item" routerLink="pantry" href="#">Pantry</a>
      <a class="dropdown-item" routerLink="recipes" href="#">Recipes</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
