<body>
    <div>
        <label>Search Recipes</label>
        <input [(ngModel)]="recipeSearchTerm" (keyup.enter)="onSubmit()" name="searchRecipe" id="searchRecipe" type="text">
        <button (click)="onSubmit()">Submit</button>
    </div>
    <!-- <div name="results" id="results">
        <p>{{ fullResponse.count }}</p>
        <p>{{ fullResponse.results[0].name }}</p>
        <p>{{ recipes }}</p>
    </div> -->
    <p>Results returned: {{ resultsCount }}</p>

    <div class="row">
        <div class="column" name="recipes" id="recipes" *ngFor="let recipe of recipes" (click)="showInstructions(recipe)">
            <ul>
                <li>{{ recipe.name }}</li>
            </ul>
        </div>
        <div class="column" *ngIf="display">
            <h2>Recipe Instructions:</h2>
            <ol>
            <li *ngFor = "let instruction of instructions">{{instruction['display_text']}}</li>
            </ol>
        </div>
    </div>
</body>

<!-- result[0].sections[0].components[0].ingredient.name -->


