<body>
    <div>
        <label>Search Recipes</label>
        <input [(ngModel)]="recipeSearchTerm" name="searchRecipe" id="searchRecipe" type="text">
        <button (click)="onSubmit()">Submit</button>
    </div>
    <!-- <div name="results" id="results">
        <p>{{ fullResponse.count }}</p>
        <p>{{ fullResponse.results[0].name }}</p>
        <p>{{ recipes }}</p>
    </div> -->
    <p>Results returned: {{ resultsCount }}</p>
    <div name="recipes" id="recipes" *ngFor="let recipe of recipes">
        <ul>
            <li>{{ recipe.name }}</li>
        </ul>
    </div>
</body>

<!-- result[0].sections[0].components[0].ingredient.name -->


